/bower_components/
node_modules/
/.pulp-cache/
output
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
main.js

.direnv
result
.pre-commit-config.yaml
dist
.mcp.json

# OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.cmt
*.cmti
_build/
*.byte
*.native
setup.data
setup.log
.merlin
*.install
_opam/
